@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$font-family-base: inter;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"brown": #2F1B1A,
	"red": #7A1616,
	"pink": #E6C2C9,
	"yellow": #FEEDAB,
	"beige": #F3EFE6,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
html, body {
	overflow-x: hidden;
	max-width: 100%;
}


.top-image{
	width: 15rem;
}

header.header-shadow {
}


.vi-fester-z-index{
	margin-top: -100px;
	z-index: 1000;
}

.vi-fester-text{
	font-size: 24px;

}

.big-numbers{
	font-size: 96px;
}

.juli-text{
	font-size: 24px;
}

.overskrifter-text{
	font-size: 45px;
}

.vertical-text{
	writing-mode: vertical-lr;
	font-size: 45px;
}

.performers-text{
	font-size: 24px;
}

.button-text{
	font-size: 16px;
}

.other-text{
	font-size: 13px;
}

.maps{
	width: 17rem;
	z-index: 1000;
}


.section-program-index {
	margin-top: -70px;
	z-index: -200;
}

.program-index{

}

.section-sponsor-index {
	margin-top: -100px;
	z-index: -225;
}

.maps-index{
	z-index: 100;
	margin-top: -3px;
}

.underpage-text{
	font-size: 16px;
}

/* Program-container: inner shadow top + bottom */
.program-container {
	position: relative;
	box-shadow: inset 0 15px 10px -10px rgba(0,0,0,0.3),  /* top shadow */
	inset 0 -15px 10px -10px rgba(0,0,0,0.3); /* bottom shadow */
}

/* Sponsor-container: inner shadow kun top */
.sponsor-container {
	position: relative;
	box-shadow: inset 0 15px 10px -10px rgba(0,0,0,0.3); /* top shadow */
}


.performers-undertext{
	font-size: 17px;
	font-weight: bold;
}


@media (min-width: 375px){

	.section-program-index {
		margin-top: -80px;
		z-index: -200;
	}

	.maps-index{
		z-index: 100;
		margin-top: -3px;
	}

	.white-top-wave{
		margin-top: -800;
	}

	.program-index{
		padding-bottom: 30px;
	}

}

@media (min-width: 425px){

	.section-program-index {
		margin-top: -90px;
		z-index: -200;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.maps-index{
		z-index: 100;
		margin-top: -3px;
	}

	.white-top-wave{
		margin-top: 80px;
	}

	.program-index{
		padding-bottom: 30px;
	}


}




/* Sponsor-container: padding-top: 50px; inner shadow kun top */






















